<h1>This is the home folder index file</h1>
	need to figure out how to make this actually do anything now I guess
<p>Find me in app/views/home/index.html.erb</p>


<% @loadout = ["value", "value1"] %>
<%= @loadout %>
