<h1>Editing catalogue</h1>

<%= render "form", catalogue: @catalogue %>

<br>

<div>
  <%= link_to "Show this catalogue", @catalogue %> |
  <%= link_to "Back to catalogues", catalogues_path %>
</div>
