<h1>Editing testcamping</h1>

<%= render "form", testcamping: @testcamping %>

<br>

<div>
  <%= link_to "Show this testcamping", @testcamping %> |
  <%= link_to "Back to testcampings", testcampings_path %>
</div>
